extends layout

block content
  .jumbotron
        .container
            h2.display-4 #{message}
              span.badge.badge-danger.stock-change.error-badge #{code}
            h4.display-6.error-header Please try again later, try a different stock symbol, or return to the home page.