extends layout

block content
  .jumbotron
        .container
            h2.display-4 #{message}
              span.badge.badge-danger.stock-change.error-badge #{code}
            h4.display-6.error-header Sorry for the inconvenience, please try again later or return to the home page.