extends layout

block content
  main
    #content-container
      h1 Home - Documentation
      h3 Welcome to the Market Analyser Cloud Mashup
      h5 Created by Declan Elkerton and powered by 
        a(href="https://finnhub.io") finnhub.io
      p This tool allows users to view the current price of U.S. stocks, as well as relevant news articles related to the company.
      p In addition to showing the price and recent news articles related to a single company, this tool finds a number of other companies of a similar size and industy and displays their data as well, providing an outlook on the whole market sector.
      p To get started, simply search for a U.S. traded stock's Ticker symbol in the search bar above.
      p For example, if we wanted to search for the technology retailer, we could enter their symbol 'AAPL' and hit search to see information about not only their company, but the wider tech sector as a whole.
      p If needed, you can click the 'Home' button in the top left hand corner to return to this documentation page.
      p Happy trading!