/* Custom style sheet used in addition to Bootstrap stylesheet */

body {
    padding-top: 3.5rem;
}

/* Header stock styling */
.stock-header {
    display: flex;
    align-items: center;
}

.price-header {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.stock-name {
    flex-grow: 2;
}

.stock-price,
.stock-change {
    font-size: 3rem;
    margin: 0 12.5px;
}

.stock-change {
    font-size: 2rem;
}

.stock-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.pricing-info {
    display: flex;
    margin-right: 25px;
    align-items: center;
}

.fundamental {
    margin: 0 10px;
}

.bold-heading {
    font-weight: bold;
}

.price-seperator {
    margin-top: 0px;
    padding-top: 0px;
}

/* Header stock news styling */
.news-article {
    max-width: 18%;
    margin-right: 2%;
}

.news-heading {
    height: 73px;
    margin-bottom: 10px;
    overflow: hidden;
}

.news-img {
    width: 100%;
    height: 125px;
    object-fit: cover;
    object-position: center;
    margin: 10px 0;
}

/* Related stock styling */
.related-company {
    margin: 50px 0;
}

.related-co-heading {
    display: flex;
    justify-content: space-between;
}

.related-co-title {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.related-full-name {
    border-bottom: 1px solid white;
}

.related-full-name:hover {
    border-bottom: 1px solid black;
}

.related-symbol {
    margin-left: 15px;
}

/* Related stock news styling */
.related-news {
    margin-top: 10px;
}

.related-news-heading {
    height: 55px;
    margin-bottom: 2px;
    overflow: hidden;
}

/* Error message handling */
.error-header {
    margin-top: 50px;
    margin-bottom: 0;
}

.error-badge {
    margin-left: 50px;
}

.error-text {
    color: #ba1321;
}

.error-message-title {
    margin-left: 15px;
}

.error-related-companies {
    margin-top: 25px;
}
